<div class="card">
  <div class="card-header">
    <h1 class="card-title">Perfil</h1>
    <div class="flex">
      <button class="btn btn-primary" (click)="openModal('editar-perfil')">Editar</button>
    </div>
  </div>
  <div class="card-body p-5">
    <div class="flex flex-wrap sm:flex-nowrap">
      <div class="mr-12 mb-4">
        <div class="relative w-[100px] lg:w-[160px] h-[100px] lg:h-[160px]">
          <div class="w-full h-full overflow-hidden rounded-full border-2 border-gray-200">
            <img
              *ngIf="profileImage()"
              [src]="getProfileImageUrl()"
              alt="Profile Image"
              class="w-full h-full object-cover"
            />
            <div
              *ngIf="!profileImage()"
              class="w-full h-full bg-gray-200 flex items-center justify-center"
            >
              <i class="ki-duotone ki-user text-4xl text-gray-400">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </div>
          </div>
          <div class="absolute bottom-0 right-0">
            <button
              class="btn btn-icon btn-circle btn-sm btn-primary"
              (click)="toggleImageChange()"
            >
              <i class="ki-duotone ki-pencil text-white">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </button>
          </div>
          <div class="absolute bottom-0 left-0">
            <button
              class="btn btn-icon btn-circle btn-sm btn-danger"
              (click)="eliminarImagenPerfil()"
            >
              <i class="ki-duotone ki-trash text-white">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </button>
          </div>
        </div>
      </div>
      <div class="flex-grow">
        <div class="flex justify-between items-start flex-wrap mb-1">
          <div class="flex flex-col">
            <div class="flex items-center mb-2">
              <a class="text-gray-800 hover:text-primary text-xl font-bold mr-1 cursor-pointer">
                {{ (user$ | async)?.nombre_corto }}
              </a>
              <a class="cursor-pointer">
                <i class="ki-duotone ki-verify text-primary text-xl">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              </a>
            </div>
            <div class="flex flex-wrap font-bold text-base pr-2">
              <a
                class="flex items-center text-gray-400 hover:text-primary mr-5 mb-2 cursor-pointer text-md"
              >
                <i class="ki-duotone ki-user text-md mr-2">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
                {{ (user$ | async)?.nombre }} {{ (user$ | async)?.apellido }}
              </a>
            </div>

            <div class="flex flex-wrap font-bold text-base mb-4 pr-2">
              @if ((user$ | async)?.telefono) {
                <a
                  class="flex items-center text-gray-400 hover:text-primary mr-5 mb-2 cursor-pointer text-md"
                >
                  <i class="ki-duotone ki-phone text-md mr-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>
                  {{ (user$ | async)?.telefono }}
                </a>
              }
              @if ((user$ | async)?.correo) {
                <a
                  class="flex items-center text-gray-400 hover:text-primary mb-2 cursor-pointer text-md"
                >
                  <i class="ki-duotone ki-sms text-md mr-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                  </i>
                  {{ (user$ | async)?.correo }}
                </a>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-standard title="Información personal" size="2xl" modalId="editar-perfil">
  @if (getModalInstaceState('editar-perfil') | async) {
    <app-perfil-formulario></app-perfil-formulario>
  }
</app-modal-standard>

<!-- Image Cropper Component -->
<app-modal-standard title="Cambiar imagen de perfil" size="lg" modalId="cambiar-imagen">
  @if (getModalInstaceState('cambiar-imagen') | async) {
    <app-image-cropper (imageSaved)="handleImageSaved($event)"></app-image-cropper>
  }
</app-modal-standard>
