<form class="w-full" [formGroup]="formularioCambiarPassword">
  <div class="mb-4">
    <app-label>Contraseña nueva</app-label>
    <app-input
      type="password"
      placeholder="Contraseña nueva"
      formControlName="passwordNueva"
      [control]="formularioCambiarPassword.get('passwordNueva')"
      [errors]="{
        required: 'La contraseña nueva es requerida.',
        minLength: 'La contraseña nueva debe tener al menos 3 caracteres.',
      }"
    />
  </div>
  <div class="mb-4">
    <app-label>Confirmar contraseña</app-label>
    <app-input
      type="password"
      placeholder="Confirmar contraseña"
      formControlName="passwordConfirmar"
      [control]="formularioCambiarPassword.get('passwordConfirmar')"
      [errors]="{
        required: 'La confirmación de la contraseña es requerida.',
        notMatching: 'Las contraseñas no coinciden.',
      }"
    />
  </div>
  <div class="flex justify-end">
    <app-advanced-button
      (buttonClick)="onSubmit()"
      text="Actualizar"
      [isDisabled]="formularioCambiarPassword.invalid"
    ></app-advanced-button>
  </div>
</form>
